*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.txtCenter{
    text-align: center;
}
.txtLeft{
    text-align: start;
}

.gap{
    margin-top: 40px;
}
.margen{
    margin-left: 15%;
    margin-right: 15%;
}
/*Nav*/
.navigation{
  display: grid;
  position: fixed;
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  grid-template-columns:2fr 1fr 1fr 1fr;
  width:100%;
  color:#555;
  font-family:'Montserrat', sans-serif;
  background-color: #fff;
}

.site-nav-outer{
  background:#fff;
  box-shadow:0 2px 2px #ccc;
  width:100%;
  height:40px;
  position: fixed;
  z-index: 1;

}

/* .nav-button{
  position:absolute;
  display:none;
  top:3px;
  left:5px;
  z-index:5;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  background:#55504C;
  font-weight:bold;
  padding:2px 6px 1px 6px;
} */

label{position:relative;}

#nav-click{display:none;}

.nav-item{
    list-style:none;
    padding:5px;
}

.nav-item:hover{
  border-bottom: 3px solid #55504C;
}

.nav-item a{
    text-decoration:none; 
    color:#555;}

.nav1{
    justify-self: start;
}
.nav2{
    justify-self: end;
    align-self: end;
}
.logoNAV{
    height: 2.4rem;
    width: auto;
}

/*intro*/
.conteinerINTRO{
    height: 100vh;
}
.videoIntro{
    height: 99%;
    width: 100%;
}
.videoMobile{
    display: none;
}
.introSobre{
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 1.87rem;
}
/*servicios*/
.introSER{
    margin-top: 10%;
    margin-bottom: 8%;
}
.fondoSERVICIOS{
    height: 100vh;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}
  
.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}
  
.containerSER{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
      -webkit-perspective: 1000px;
              perspective: 1000px;
}
  
.front{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.158);
    border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      color: #2e241bcb;
      font-size: 1.5rem;
}
  
.front:after{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #ffffffc4;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
}

.inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
}

.containerSER{
    transition: all 0.8s ease;
}
.containerSER:hover{
    transition: all 0.8s ease;
    filter: brightness(50%);
}
  
.front .inner p{
    font-size: 2rem;
    font-weight:500;
    margin-bottom: 2rem;
    position: relative;
    color: #2e241b;
}

.front .inner span{
    color: #2e241b;
    font-family: 'Montserrat';
    font-weight: 300;
}
  
/*Clientes*/
.clients {
    min-height: 50vh;
    background: #55504c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.slider {
    display: flex;
    height:min-content;
    margin: auto;
    overflow:hidden;
    align-items: center;
}
.slider:before {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 23.958%;
    height: 6.875rem;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #7b737088);
    overflow: hidden;
}  
.slider:after {
    position: absolute;
    right: 0;
    width: 23.958%;
    height: 6.875rem;
    background: linear-gradient(
      90deg,
      hsla(0, 0%, 96.9%, 0),
      hsla(0, 0%, 96.9%, 0.99) 99%
    );
    overflow-x: hidden;
}
.slider .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(15rem * 5);
}
.slider .slide {
    cursor: pointer;
    width: 11.25rem;
    height: auto;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slide img {
    height: auto;
    width: 10rem;
    filter: brightness(0) saturate(100%);
    opacity: 0.25;
    overflow-x: hidden;
}  
@keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(calc(-240px * 5));
      transform: translateX(calc(-240px * 5));
    }
}

/*formulario*/
.gap2{
    margin-top: 8%;
}
.bodyForm{    
    height:100vh;
    background-color: #55504C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23777370' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23999694' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23bbb9b7' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23dddcdb' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FFFFFF' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding-top: 3.12rem;
    display: flex;
    justify-content: center;
}
  
#feedback-page{
    text-align:center;
}
  
#form-div {
      background-color:#7b7370;
      padding-left:2.19rem;
      padding-right:2.19rem;
      padding-top:2.19rem;
      padding-bottom:3.125rem;
      width: 450px;
      position: absolute;
      border-radius: 0.5rem;
}
  
.feedback-input {
      color:#7b7370;
    font-weight:500;
      font-size: 18px;
      border-radius: 0;
      line-height: 22px;
      background-color: #fbfbfb;
      padding: 13px 13px 13px 54px;
      margin-bottom: 10px;
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
    border: 3px solid #2e241b8e;
  }
  
  .feedback-input:focus{
      background: #fff;
      box-shadow: 0;
      border: 3px solid #2e241b8e;
      color: #2e241b;
      outline: none;
    padding: 13px 13px 13px 54px;
  }
  
  .focused{
      color:#7b7370;
      border:#7b7370 solid 3px;
  }
  
  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
      background-color:white;
  }
  
  #button-grey{
      float:left;
      width: 100%;
      border: #fbfbfb solid 4px;
      cursor:pointer;
      background-color: #7b7370;
      color:white;
      font-size:24px;
      padding-top:22px;
      padding-bottom:22px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  
  #button-grey:hover{
      background-color: rgba(0,0,0,0);
      color: #7b7370;
  }
      
  .submit:hover {
      color: #7b7370;
  }
      
  .ease {
      width: 0px;
      height: 74px;
      background-color: #fbfbfb;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      -ms-transition: .3s ease;
      transition: .3s ease;
  }
  
  .submit:hover .ease{
    width:100%;
    background-color:white;
  }
  


/*Footer*/
a{
    text-decoration:none;
    outline:none !important;
    color:#fff;
    }
    
.border-shape {
    background: #ffff none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    }

footer{
    width:100%;
    background-color:#55504C;
    color:#fff;
}
    
.top_header{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}
    
.top_header section{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
}
    
.top_header span{
    padding:0 1rem;
}
    
.top_header .fa{
    color:#ffff;
    font-size:35px;
}
    
footer .border-shape {
    width: 40%;
}
    
footer .bottom_content section{
    padding:1.5rem 2rem;
    display:flex;
    align-items:center;
    justify-content:Center;
}
    
.bottom_content a{
    margin:0 20px;
    color:rgba(255,255,255,0.7);
    transition:0.5s;
}
    

.whatsapp-button {
    position: fixed;
    bottom: 5%;
    left: 2%;
    width: 60px;
    height: 60px;
    background-color: #a5a5a5;
    border-radius: 50%;
    border-color: #2e241b solid;
    text-align: center;
    color: #fff;
    font-size: 30px;
    z-index: 999;
}
.fa-whatsapp{
    margin-top: 22%;
}

/*Responsive*/
@media (max-width: 1920px) and (min-width: 1600px) {
    .logoNav{
        height: 3rem;
    }
    .nav2{
        font-size: medium;
    }
    .conteinerINTRO{
        height: 90%;
        margin-bottom: 6%;
    }
    .fondoSERVICIOS{
        height: 100%;
        margin-bottom: 10%;
    }
    .wrapper{
        width: 100%;
        max-width: 90rem;
    }
    .slider{
        padding: 5px;
    }
    .bodyForm{
        height: 70vh;
    }
    #form-div{
        width: 35rem;
    }
    .feedback-input{
        font-size: medium;
        padding: 0.8rem 0.8rem 0.8rem 3.37rem;
        margin-bottom: 0.62rem;
    }
}
@media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
}
/*Resposive tablet*/
@media only screen and (max-width:768px){
    .videoIntro{
        display: none;
    }
    .videoMobile{
        display: block;
        width: 100%;
        height: max-content;
    }
    .titulobajada{
        margin-top: 3%;
        height: 100%;
    }
    .fondoSERVICIOS{
        height: 100%;
        margin-bottom: 5%;
    }
    .conteinerSER{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 15%;
    }
    .col{
        width: calc(50% - 2rem);
    }
    .front .inner span{
        font-size: 1.7rem;
    }

    .clients{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .slider .slide-track {
        position: absolute;
        width: calc(15rem * 3);
        overflow-x: hidden;
    }
    .slider .slide img {
        width: 10rem;
    }
    @keyframes scroll {
        0% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      
        100% {
          -webkit-transform: translateX(calc(-15rem * 5));
          transform: translateX(calc(-15rem * 5));
        }
    }
    .bodyForm{
        height: 100vh;
    }
    #form-div{
        width: 80%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .top_header{
        padding:1rem;
        display:block;
    }
    .top_header section{
        margin:40px 0;
        align-items:left;
        justify-content:left;
    }
    footer .bottom_content section{
        padding:1rem;
        display:block;
    }
    footer .bottom_content section a{
        padding:1rem;
        font-size:12px;
        margin:0 5px;
        display:inline-block;
    }
    .whatsapp-button{
        width: 2.8rem;
        height: 2.8rem;
        font-size: medium;
    }
}
/*nav responsive*/
@media only screen and (max-width:650px){
    .navigation{
        position:absolute;
        top:1.75rem;
        text-align:center;
        padding:0;
    }
    .nav-item{
        border-bottom:1px solid rgba(0, 0, 0, .1);
    }
    .nav-item:hover{
        border-bottom: 1px solid #55504c;
    }
    .nav-item:last-child{
        border-bottom:0;
    }
    .site-nav-outer{
        width:100%;
        height:1.75rem;
    }
    #nav-click:checked ~ .navigation{display:none;}
    /* .nav-button{display:block;} */
    
    .fondoSERVICIOS{
        height: 100%;
        margin-bottom: 10%;
    }
    .conteinerSER{
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap:5%;
    }
    .fa-whatsapp{
        margin-top: 30%;
    }
}
/*Responsive Celular*/
@media only screen and (max-width: 600px) {
    .navigation{
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
    }
    .nav-item{
        padding: 1px;
    }
    .nav2{
        font-size:small;
    }
    .logoNav{
        height: 1rem;
        width: auto;
    }

    .conteinerINTRO{
        height: 98%;
    }
    .videoIntro{
        display: none;
    }
    .videoMobile{
        display: block;
        height: 98%;
        width: 100%;
    }

    .introSobre .introSER{
        font-size: medium;
    }

    .cols{
        flex-direction: column;
    }
    .col{
        width: 100%;
        margin: 0 0 2rem 0;
    }

    .clients{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .slider .slide-track {
        position: absolute;
        width: calc(15rem * 2);
        overflow-x: hidden;
    }
    .slider .slide img {
        width: 8rem;
    }
    @keyframes scroll {
        0% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      
        100% {
          -webkit-transform: translateX(calc(-15rem * 5));
          transform: translateX(calc(-15rem * 5));
        }
    }
    
    #form-div{
        width: 80%;
        padding-left: 3%;
        padding-right: 3%;
    }
}